kind: Service
apiVersion: v1
metadata:
  name: {{name}}
  namespace: {{namespace}}
  labels:
    {{juju_selector}}: {{uname}}
    {{deployer_selector}}: {{deployer}}
spec:
  type: NodePort
  selector:
    {{juju_selector}}: {{uname}}
    {{deployer_selector}}: {{deployer}}
  ports:
{%- for port_info in ports %}
{%- for port, port_name in port_info.items() %}
    - name: {{port_name}}
      protocol: TCP
      port: {{port}}
{%- endfor %}
{%- endfor %}